body{
    font-family: sans-serif;
    margin: 0 50px;
}
form{
    margin-top: 55px;
}
.container{
    display: flex;
    gap: 50px;
}
#posts{
    width: 400px;
}
#posts div{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.option{
    display: flex;
    gap: 25px;
}
i{
    cursor: pointer;
}